<% provide(:title, 'Dashboard') %>

<div class="page-header">
  <h1><i class="fa fa-tachometer"></i>  Dashboard</h1>
</div>
  <% if logged_in? %>

  <div class="row">
    <p> <h3 class="bill"> Billing  <span class=" <%= label_color(@user[:status]) %>"> <%= @user[:status] %></span></h3></p>
    <div class="col-xs-6 ">

          <div class="thumbnail">
          <div class="caption">
          <dl class="dl-special">
            <dt><small>Account name :</small></dt>
            <dd><%= full_name(@user[:contact][:first_name], @user[:contact][:last_name])%> </dd>
            <dt><small>Account Number :</small></dt>
            <dd><%= @user[:user_id] %></dd>
            <dt><small>Service Address :</small></dt>
            <dd>
               <address>
                 <%= @user[:contact][:address1] %></br>
                 <%= @user[:contact][:address2] if @user[:contact][:address2] %>
                 <%= @user[:contact][:postal_code] %> - <%= @user[:contact][:city] %>,  <%= @user[:contact][:state_province] %>, USA
               </adress>
             </dd>
          </dl>
        </div>


      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><small><i class="fa fa-calendar-check-o"></i> <em>Next Invoice Date :</em> <%= time_format( @user[:next_invoice_date]) %></small></p>
          <div class="col-xs-6">
            <%= link_to '<i class="fa fa-credit-card"></i> Pay with credit card'.html_safe, new_credit_path, :class => "btn pull-left btn-danger", :id => "pay_link" %>
          </div>
          <div class="col-xs-6">
            <%= link_to '<i class="fa fa-university"></i> Pay with ACH(Bank)'.html_safe, new_bank_path, :class => "btn btn-danger", :id => "pay_link" %>
          </div>
        </div>
        <div class="panel-footer"><small> Please pay your outstanding bills if you have unpaid invoices</small></div>
      </div>



    </div>
  </div>
  <div class="row">

    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-usd"></i> Last payment</h3>
        </div>
        <div class="panel-body">
          <% if @payment_latest %>
           <%= number_to_currency(@payment_latest[:amount],   precision: 2) %> (<%= @payment_latest[:method] %>)</br>
           <small> Applied : <%= time_format(@payment_latest[:payment_date]) %></small></small>
          <% else %>
          $0.00
          <% end %>
        </div>
     </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-usd"></i> Past Due Balance</h3>
        </div>
        <div class="panel-body">
         <%= number_to_currency(@user[:carried_balance].to_f,   precision: 2) %></br>

        </div>
     </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-usd"></i> Current Charges <span class=" <%= status_invoice @latest_invoice[:status_id] if @latest_invoice  %>"> <%= status_print @latest_invoice[:status_id] if @latest_invoice %></span></h3>
        </div>
        <div class="panel-body">
          <%= number_to_currency(@latest_invoice[:balance], precision: 2) if @latest_invoice %> </br>
          <small> Due Date : <%= time_format(@latest_invoice[:due_date]) if @latest_invoice %></small>
        </div>
     </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-usd"></i> Total Balance</h3>
        </div>
        <div class="panel-body">
         <%= number_to_currency(@user[:owing_balance], precision: 2) %></br>
         <small> Due Date : <%= time_format(@latest_invoice[:due_date]) if @latest_invoice %></small>
        </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <% if @order %>
          <h3 class="panel-title">Current plan <span class="badge"> <%= @order[:billing_type_str] %> </span>
          <small> <u> Active since: <%= time_format(@order[:active_since]) %></u></small></h3>
          <% end %>
        </div>
        <div class="panel-body">
         <% if @latest_order %>
          <table class="table">
            <tr>
              <th> Item </th>
              <th>Amount </th>
            </tr>
            <% @latest_order.each do |item| %>
              <tr>
                <td> <%= item[:description]%> </td>
                <td><%= number_to_currency( item[:amount] )%> </td>
              </tr>
            <% end %>
          </table>
          <% end %>
        </div>
      </div>
    </div>


      <div class="col-xs-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Invoice Detail</h3>
          </div>
          <div class="panel-body">
            <%= form_tag create_invoice_url do %>
              <%= select_tag( :id, options_for_select(@invoice_list) ) %>
              <%= submit_tag 'Invoice Detail', class: "button" %>
            <% end %>
          </div>
       </div>
      </div>

         <div class="col-xs-4">
           <div class="panel panel-primary">
             <div class="panel-heading">
               <h3 class="panel-title">Payment Detail</h3>
             </div>
             <div class="panel-body">
               <%= form_tag statement_url do %>
                 <%= select_tag(:id, options_for_select(@payment_list) ) %>
                 <%= submit_tag 'Payment Detail', class: "button" %>
               <% end %>
             </div>
          </div>
         </div>


  </div>

<% else %>
  <div class= "center jumbotron">
    <h1>Your </h1>
    <h2>Billing Portal
      <a href="#">Kitcarson billing portal</h2></a>
      <a href="#", class="btn btn-lg btn-primary">Login</h2></a>
      <%#= link_to "login now", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
