<% provide(:title, "Billing History") %>
<div class="page-header">
  <h1>Billing History</h1>
</div>
<table class="table table-condensed">
  <tr>
    <th>Invoice ID</th>
    <th>Due date</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Balance</th>
    <th>Payment ID</th>
    <th></th>
  </tr>

  <%  @invoices.each do |invoice| %>
    <tr class= "<%= "danger" if invoice[:status_descr] == "Unpaid" %>">
        <td><%= link_to invoice[:id], invoice_path(invoice[:id])  %></td>
        <td><%= time_format invoice[:due_date] %></td>
        <td><%= invoice[:status_descr] %></td>
        <td><%= number_to_currency(invoice[:total], precision: 2) %></td>
        <td><%= number_to_currency(invoice[:balance].to_f,   precision: 2)%></td>
        <td><%= link_to invoice[:payments].to_i, payment_path(invoice[:payments].to_i) %></td>
        <td><%= link_to "Downdload pdf", invoice_path(invoice[:id], format: 'pdf')%></td>
    </tr>
  <% end %>


</table>
