<% provide(:title, 'Invoice') %>

<div class="page-header">
  <h1>INVOICE</h1>
  <h1><small>Invoice # <%= @invoice[:number]%></small></h1>
  <h3><small>Due date # <%= time_format @invoice[:due_date] %></small></h3>
</div>

      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"> From: KITCARSON TECHNOLOGIES</h3>
            </div>
            <div class="panel-body">
              <p>
                Address:  116 Cruz Alta Road, Taos, NM 87571<br>
                Call: (575) 758-4838<br>
                Email: billing@kitcarson.net<br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">To : <%= full_name(@user[:first_name], @user[:last_name]) %>  </h3>
            </div>
            <div class="panel-body">
              <p>
                Address : <%= @user[:address1] %>,  <%= @user[:address2] %><br>
                Details : <%= "#{@user[:city]}- #{@user[:postal_code] } , USA " %><br>
                Phone : <%= "#{@user[:phone_country_code]} - #{@user[:phone_area_code]} - #{@user[:phone_number]}"  %></br>
                Email : <%= @user[:email] %>  <br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>Item ID</h4>
            </th>
            <th>
              <h4>Description</h4>
            </th>
            <th>
              <h4>Hrs/Qty</h4>
            </th>
            <th>
              <h4>Rate/Price</h4>
            </th>
            <th>
              <h4>Sub Total</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <% i = 0 %>
          <% subtotal= 0 %>
          <% num = @items.length  %>
          <% while i < num %>

          <tr>

            <td><%= @items[i][:item_id]%></td>
            <td><a href="#"><%= @items[i][:description]%></a></td>
            <td class="text-right"><%= @items[i][:quantity].to_i %></td>
            <td class="text-right"><%= number_to_currency( @items[i][:price].to_f, precision: 2 ) %></td>
            <td class="text-right"><%= number_to_currency(@items[i][:amount].to_f, precision: 2 ) %></td>
          </tr>

           <% subtotal += @items[i][:amount].to_f  %>
           <%  i += 1 %>
          <% end %>

        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>
            Sub Total : <br>
            TAX : <br>
            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong>
          <%= number_to_currency(subtotal, precision: 2) %> <br>
          <% @tax.each do |tax| %>
            <% tax = tax[:amount].to_f %>

            <%= number_to_currency(tax) %><br>
            <% total = subtotal + tax %>
          <% end %>
            <%= number_to_currency(@invoice[:total], precision: 2) %><br>

          <%#= (subtotal + tax).to_f %><br>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Account Info</h3>
            </div>
            <div class="panel-body">
              <p>Account Number : <%= @invoice[:user_id] %></p>
              <p>Balance : <%= number_to_currency(@invoice[:balance].to_f,   precision: 2)%></p>
              <p>Previous Due: <%=  number_to_currency(@invoice[:carried_balance].to_f ,  precision: 2)%></p>
              <p>Status : <%= @invoice[:status_descr]%></p>

            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="span7">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Contact Details</h3>
              </div>
              <div class="panel-body">
                <p>
                  Email : billing@kitcarson.net <br><br>

                  Phone : +1 334 8948732</a>
                </p>
                <h4>Payment should be made by Bank Transfer, Credit card OR Cash</h4>
              </div>
            </div>
          </div>
        </div>
      </div>





<!-- <%= @invoice %> </br></br>
<%= @items %> </br>
<%= @tax %> </br>
<%= @user %> -->
