<% provide(:title, full_name(@user[:contact][:first_name], @user[:contact][:last_name])) %>

<%#= @user %>

<div class="page-header">
  <h1>Billing profile <small> <%= full_name(@user[:contact][:first_name], @user[:contact][:last_name]) %> | <%= @user[:user_id] %></small></h1>
</div>
<div class="col-md-8 col-md-offset-2">
  <p class="bg-warning custom"> If you want to change your service address and Billing method please call us at 987590214</p>
</div>
<div class="row">
  <div class="col-xs-6 ">
    <div class="panel panel-primary">
       <div class="panel-heading">
         <h3 class="panel-title">Profile summary  <span class=" <%= label_color(@user[:status]) %>"> <%= @user[:status] %></span></h3>
       </div>
       <div class="panel-body">
         <dl class="dl-special">
           <dt>Account name </dt>
           <dd><%= full_name(@user[:contact][:first_name], @user[:contact][:last_name]) %> </dd>
           <dt>Account Number </dt>
           <dd><%= @user[:user_id] %></dd>
           <dt>Login </dt>
           <dd><%= organization_name(@user[:user_name]) %></dd>
           <dt>Organization Name </dt>
           <dd><%= organization_name(@user[:contact][:organization_name]) %></dd>
           <dt>Phone Number </dt>
           <dd><%= "#{@user[:contact][:phone_country_code]} - #{@user[:contact][:phone_area_code]} - #{@user[:contact][:phone_number]}"  %></dd>
           <dt>Social security</dt>
           <dd><%= social_security(@user[:contact][:social_security_code1], @user[:contact][:social_security_code2], @user[:contact][:social_security_code3]) %>
           </dd>
           <dt>Email </dt>
           <dd><%= @user[:contact][:email] %> </dd>
           <dt>Service Address </dt>
           <dd>
              <address>
              <strong> <%= @user[:contact][:address1]%> </strong></br>
              <%= @user[:contact][:address2] if @user[:contact][:address2] %>
              <%= @user[:contact][:postal_code] %> - <%= @user[:contact][:city] %>,  <%= @user[:contact][:state_province] %>, USA
              </adress>
            </dd>
         </dl>
       </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Account Info  (Owed balance : <%= number_to_currency(@user[:owing_balance],   precision: 2) %>)</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item"> Account created :</em> <%= time_format(@user[:create_datetime]) %>
          <li class="list-group-item"> Last status change :</em> <%= time_format(@user[:last_status_change]) %>
          <li class="list-group-item"> Next invoice :</em> <%= time_format(@user[:next_invoice_date]) %>
          <li class="list-group-item"> Payment method :</em> <%= time_format(@user[:credit_card][:expiry]) if @user[:credit_card] %></li>
          <li class="list-group-item"> Invoice Delivery method :</em> <%= delivery_method(@user[:invoice_delivery_method_id])%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">  Bill Ready and Payment Notifications <span class="badge"><%= notification(@user[:contact][:include])%></span></h3>
      </div>
      <div class="panel-body">

        Get notified when your bill is ready to view and when your payment is successfully received. You will always receive these notifications by email to your billing email address.</br></br>

        Notification <%= notification(@user[:contact][:include])%></br>
        EMAIL
        <p class="pull-right"> <%= link_to "Change Settings", edit_user_path(session[:user_id]), class: "btn btn-primary" %> </p>
        <%= @user[:contact][:email] %>
      </div>
    </div>
  </div>
</div>
<%#= @user %>
